.forecast-container {
  width: 60%;
  margin: auto;
}

.forecast-box {
  border: 1px solid white;
  text-align: center;
  font-size: 100%;
  font-family: 'Segoe UI';
  width: 90px;
  color: white;
  cursor: pointer;
  height: 130px;
  margin: auto;
}

.forecast-box img {
  margin-top: 15px;
  width: 40px;
  height: 40px;
}

.forecast-box:hover {
  transform: scale(1.1);
}

.forecast-box {
  transition: transform 0.1s;
}

.forecast-blur {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.forecast-popup {
  background: lavender;
  border-radius: 20px;
  display: inline-block;
  min-height: 550px;
  margin: 1rem;
  position: relative;
  min-width: 1000px;
  justify-self: center;
  overflow-y: auto;
}


@media screen and (max-width: 768px) {
  .forecast-popup {
    min-width: 320px;
    height: 620px;
  }

  .column-6 {
    width: 90%;
    margin-top: 50px;
  }
}

.card {
  color: white;
  background: #748cf1;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  height: 120px;
  width: 200px;
  justify-self: center;
}

.mini-desc {
  padding-right: 80px;
  padding-top: 10px;
}

.mini-image {
  width: 25px;
  margin-left: 5px;
}

.mini-value {
  margin-top: -15px;
  font-size: 30px;
}

.mini-add {
  margin-top: -15px;
  text-align: left;
  margin-left: 35px;
}

.forecast-close {
  color: black;
  margin-right: 15px;
  margin-top: 5px;
}


.ForecastSearch-close {
  color: white;
  font-size: 40px;
  text-align: right;
  margin-right: 25px;
  margin-top: 5px;
  cursor: pointer;
}

.forecast-heading {
  color: white;
  font-weight: 600;
  font-family: Raleway;
}

.forecast-paragraph {
  font-family: verdana;
  color: orange;
}

.ForecastSearchBox {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.fa-calendar {
  color: white;
  margin-top: 70px;
  margin-left: -20px;
}


.ForecastSearchBox input {
  width: 270px;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: white;
  margin-bottom: 31px;
  font-size: 15px;
  font-family: Arial;
  background: transparent;
}

.ForecastSearchBox input:focus {
  color: white;
  border-bottom: 2px solid #ebebeb;
  outline: none;
}

.forecase-search-btn {
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 45px;
  text-align: center;
  border-radius: 5px;
  font-family: 'raleway';
}

.foreBoxImg {
  height: 150px;
}

.foreBox-temperature {
  color: black;
  margin-top: -5px;
}

.foreboxColor {
  color: black;
}

.foreBox-temp {
  color: black;
  margin-top: -5px;
}

.danger {
  background-color: #f44336;
}

.danger:hover {
  background: orange;
}