.ProfileBox {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#972176), to(#311d5f));
  background: -webkit-linear-gradient(bottom, #840f8f 0%, #961179 100%);
  background: -moz-linear-gradient(bottom, #840f8f 0%, #9e0e7f 100%);
  background: -o-linear-gradient(bottom, #840f8f 0%, #a01d84 100%);
  background: linear-gradient(to top, rgb(121, 10, 212) 0%, #a1197f 100%);
  overflow-x: hidden;
  transition: 0.5s;
}

.profile-close {
  color: white;
  font-size: 40px;
  text-align: right;
  margin-right: 25px;
  margin-top: 5px;
  cursor: pointer;
}

.edit-register {
  float: right;
  color: teal;
  font-weight: 500;
  cursor: pointer;
  margin-top: 60px;
  margin-right: 40px;
  font-size: 17px;

}

.far {
  color: black;
  float: right;
  margin-top: -55px;
  margin-right: 5px;
  cursor: pointer;
}

.register-form h2 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: 'Raleway';
  letter-spacing: 0.5px;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.gender {
  text-align: center;
  word-spacing: 15px;
  font-size: 14px;
  color: black;
}

.profile-container {
  width: 586px;
  height: auto;
  background: #fff;
  margin: auto;
  margin-top: -25px;
  border-radius: 10px;
}

.register-form {
  padding: 50px 60px 70px 60px;
}

.register-form input,
select {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
  font-size: 15px;
  font-family: Arial;
}

.register-form input:focus,
select:focus {
  color: #222;
  border-bottom: 2px solid #515f85;
  outline: none;
}

.register-form label {
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .profile-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .profile-container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}



/*LOGIN BUTTON*/
.reg_button {
  text-align: center;
  margin-top: 40px;
}

.profile-btn {
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  font-family: 'raleway';
}


.danger {
  background-color: #f44336;
}

/* Red */
.danger:hover {
  background: orange;
}